<div>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/owners">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Owners</span></a
    >
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/contact">
      <i class="fas fa-fw fa-table"></i>
      <span>Contact</span></a
    >
  </li>
</div>
