<div>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Nav Item - Tickets -->
  <li class="nav-item">
    <a class="nav-link" href="/ticket">
      <i class="fas fa-clipboard-list"></i>
      <span>Ticket</span></a
    >
  </li>

  <!-- Nav Item - Tickets -->
  <li class="nav-item">
    <a class="nav-link" href="/movie">
      <i class="fas fa-film"></i>
      <span>Movie</span></a
    >
  </li>

  <!-- Nav Item - Payment -->
  <li class="nav-item">
    <a class="nav-link" href="/payment">
      <i class="fas fa-file-invoice"></i>
      <span>Payment</span></a
    >
  </li>

  <!-- Nav Item - Employee -->
  <li class="nav-item">
    <a class="nav-link" href="/employee">
      <i class="fas fa-users"></i>
      <span>Employee</span></a
    >
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/notification">
      <i class="fas fa-bell"></i>
      <span>Notification</span></a
    >
  </li>
</div>
